.body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

:root {
    --black: #000000;
    --blue: #2196f3;
    --dark-grey: #212121;
    --grey: #757575;
    --dark-blue: #2f303a;
    --white: #ffffff;
    --background-team: #f5f4fa;
  }

ul {
  list-style: none;
}

/*-------------header---------*/

.header {
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}
.logo-footer{
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white);
}

.nav {
}
.nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--blue);
}

.header-email {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.header-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.header-email:hover,
.header-email:focus {
  color: var(--blue);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--blue);
}

/*-------------hero---------*/

.hero {
  background: var(--dark-blue);
}
.hero-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
}

/*-------------about---------*/

.about {
}
.about-list {
}
.about-list-li {
}
.about-list-h {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-grey);
}
.about-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

/*-------------about---------*/

.what {
}
.what-h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}
.what-ul {
}
.what-item {
}
.what-img {
}

/*-------------Team---------*/

.team {
  background: var(--background-team);
}
.team-h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}
.team-ul {
}
.team-item {
}
.team-img {
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--dark-grey);
}
.team-position {
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--grey);
}

/*-------------Footer---------*/

.footer {
  background: var(--dark-blue);
}

.footer-adress {
}
.footer-maps {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.footer-maps:hover,
.footer-maps:focus {
  color: var(--blue);
}

.footer-email {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-email:hover,
.footer-email:focus {
  color: var(--blue);
}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--blue);
}

/*-------------Portfolio---------*/
/*--------------Filter---------*/

.portfolio-h1 {
  visibility: hidden;
}
.portfolio {
}
.filter-h2 {
  visibility: hidden;
}

.filter-ul {
}

.filter-item {
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
  text-decoration: none;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--blue);
}

/*----------------porfolio---------------*/


.porfolio-ul {
}
.porfolio-item {
}
.portfolio-img {
}

.portfolio-h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-grey);
}

.portfolio-p {
  font-size: 16px;
  line-height: 1,875;
  letter-spacing: 0.03em;
  color: var(--grey);
}
